.content-block-item{
  width: 80%;
  height: 350px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}