.filter-panel{
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rosybrown;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul{
    display: flex;
    margin-right: 80px;
    li{
      margin-right: 20px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}