@import "./components/filters";
@import "./components/side-navigation";
@import "./components/content";
@import "./components/content-block";
@import "global";


/*!*Scroll Bar*!

::-webkit-scrollbar{
  width: 12px;
  background-color: rosybrown;
}

::-webkit-scrollbar-thumb{
  background: red;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: green;
}*/
